body {
	font-family: $font_main;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	color: $c-light;
	background-color: $c-dark;
}

.wrapper {
	overflow-x: hidden;
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}

.container {
	max-width: 1140px;
	padding: 0 15px;
	width: 100%;
	margin: 0 auto;
}

.title {
	font-family: $font_title;
	font-weight: 700;
	line-height: 1.33;
	font-size: 36px;
	color: $c-light;
}

.icon {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
	transition: scale 0.3s ease-in-out;

	&:hover {
		scale: 1.2;
	}
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}