.header {
	position: relative;
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 12px;
		color: gray;
		padding: 14px 0;
	}
}

.top__info-phone::before {
	content: '';
	background-image: url('../images/header/phone.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-right: 15px;
	margin-bottom: -3px;
}

.btn-logout::before {
	content: '';
	background-image: url('../images/header/logout.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-right: 19px;
	margin-bottom: -3px;
}

.btn-login:hover,
.btn-register:hover {
	color: $c-light;
	transition: color 0.3s ease-in-out;
}

.nav {
	background-color: $c-darkSecond;
	transition: top 0.3s ease-in-out;

	&__inner {
		display: flex;
		align-items: center;
		gap: 32px;
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: 40px;
	}
}

.nav__content {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.fixed-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.menu {
	display: flex;
	align-items: center;
	// gap: 30px;
	text-transform: uppercase;

	&__link {
		color: gray;
		transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
		background-color: none;
		padding: 30.8px 15px;

		&:hover {
			color: $c-light;
			background-color: #1f1f1f;
		}
	}
}

.icon--search {
	content: '';
	background-image: url('../images/header/search.svg');
	width: 17px;
	height: 17px;
}

.icon--cart {
	content: '';
	background-image: url('../images/header/cart.svg');
	width: 23px;
	height: 18px;
}

.logo {
	// .logo__img

	&__img {
		width: 104px;
	}
}

.menu {
	// .menu__item

	&__item {
	}

	// .menu__link

	&__link {
	}

	// .menu__link--active

	&__link--active {
	}
}
.icon--search {
}
.icon--cart {
}
.btn-counter {
}
